@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Poppins&display=swap');
        
.container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 70vh;
    font-family: 'Nunito Sans', sans-serif;
}

.headerTitle {
    font-size: 60px;
    color: #13aa52;
}

.heading {
    font-size: 25px;
}

.btn {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

@media (min-width: 768px) {
    .btn {
      padding: 10px 30px;
  }
}

.btnTime {
    font-size: 24px;
    color: white;
    background-color: rgba(167, 156, 156, 0.5); 
    padding: 10px;
    border-radius: 19px;
    margin-left: 28px;
}